.d-flex {
  display: flex;
}

.vh-100 {
  height: 100vh;
}

.offcanvas-menu {
  width: 250px;  /* Ancho fijo del menú */
  background-color: #b3c8dd; /* Color de fondo del menú */
  border-right: 1px solid #dee2e6; /* Borde del menú */
  padding: 1rem; /* Espaciado interno */
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  /* Para ocupar todo el espacio restante */
  padding: 1rem;
  background-color: #ffffff;  /* Fondo del contenido */
}